{% extends "base.html" %}

<!-- load wagtailcore_tags by adding this: -->
{% load wagtailcore_tags wagtailimages_tags%}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
   <div class="q-pa-md full-width" style="margin-top: 2rem">
       <div class="column items-center justify-center" style="gap: 2rem">
            <div class="flex column justify-center items-center q-gutter-md">
                {% for block in page.titulo %}
                    <div class="text-h4 text-{{ block.value.color_texto }}">{{ block.value.texto }}</div>
                {% endfor %}
                {% for block in page.descripcion %}
                    <div class="text-body1 text-{{ block.value.color_texto }}">{{ block.value.texto }}</div>
                {% endfor %}
            </div>
       
            <div class="flex justify-center">
                <div>
                    {% for block in page.boton %}
                        {% if block.block_type == 'boton' %}
                            <q-btn class='bg-{{ block.value.color }} text-{{ block.value.color_texto }}'>{{ block.value.texto}}</q-btn>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
       
            <div>
                {% for block in page.servicios %}
                    {% if block.block_type == 'tituloServicio' %}
                        <h5 class="text-{{ block.value.color_texto }}">{{ block.value.texto }}</h5>
                    {% endif %}
                    {% if block.block_type == 'servicios' %}
                        <div>
                          <div class="row contenedor-grid " style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 1rem; ">
                              <div >Item 1</div>
                              <div >Item 2</div>
                              <div >Item 3</div>
                              <div >Item 4</div>
                          </div>
                        </div>
                    {% endif %}
                {% endfor %}
                
            </div>
       </div>
    </div>
{% endblock %}
