<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>
        {% block title %}
        {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% load wagtailcore_tags static %}
        {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
        {% endblock %}
    </title>
    {% if page.search_description %}
    <meta name="description" content="{{ page.search_description }}" />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% if request.in_preview_panel %}
    <base target="_blank">
    {% endif %}

    <!-- Global stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/CLINICA.css' %}">

    {% block extra_css %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/quasar@2.17.0/dist/quasar.prod.css" rel="stylesheet" type="text/css">
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">

    <div id="app"> <!-- Mueve el div aquí -->
        {% block header %}
             {% include 'header.html' %}
        {% endblock %}

        {% block content %}{% endblock %}
    </div>

    <!-- Global javascript -->
    <script type="text/javascript" src="{% static 'js/CLINICA.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.47/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.17.0/dist/quasar.umd.prod.js"></script>

    {% block extra_js %}
        <script >
            // Crear la aplicación Vue
            const { createApp } = Vue;
            const app = createApp({});

            // Usar Quasar como un plugin de Vue
            app.use(Quasar, {
                config: {
                    brand: {
                        primary: '#027be3',
                        secondary: '#26A69A',
                        accent: '#9C27B0',
                        dark: '#1d1d1d',
                    }
                }
            });

            // Montar la aplicación Vue en el elemento con id "app"
            app.mount('#app');
        </script>
    {% endblock %}
</body>
</html>
